  @keyframes glow {
      0% {
          transform: translateX(-100%) rotate(45deg);
      }

      100% {
          transform: translateX(100%) rotate(45deg);
      }
  }

  .animate-glow {
      animation: glow 3s linear infinite;
  }